@tailwind base;
@tailwind components;
@tailwind utilities;

.open-menu:hover > div:nth-child(1),
.open-menu:hover > div:nth-child(2) {
  transform: rotate(0deg);
  transition: 0.3 all ease;
}

.open-menu > div:nth-child(1),
.open-menu > div:nth-child(2) {
  transition: 0.3 all ease;
}
